.user-form {
    >>>.el-input__inner {
        text-indent: 20px;
    }
      .confirm-password {
        >>>.el-icon-edit {
                  background-color: #7460ee!important;
                }
      }
    >>>.el-input__prefix {
        top: 1px;
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;
        top: 1px;
        color: #fff;
        font-size: 18px;
        .el-input__icon{
            padding: 0 5px;
            height 98%
        }
        .el-icon-user{
            background:#28b779;
        }
        .el-icon-edit{
            background-color: #ffb848;
        }

        .el-icon-message {
            background-color: #da542e;
        }
        .el-icon-paperclip{
            background-color:#27a9e3;
        }
    }
}

.login-container {
  flex(, column);
  .icon-banjiguanli1 {
    width: 35px;
    border-top-left-radius: 4px;
    display: inline-block;
    text-align: center;
    background: #ffb848;
    border-bottom-left-radius: 4px;
    color: #fff;
    font-size: 19px;
  }
  .identity {
    >>>.el-form-item__content {
      display: flex;
      .el-select {
        flex-grow: 1;
        .el-input__inner {
          text-indent: 0px;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }
}
