// @import './font/iconfont.styl'
// font-size
for x in 10 12 13 14 15 16 18 20 22 24 25 26 28 30 32 35 36 38 40 42 45 46 48 50 210 {
  .ft_{x} {
    font-size: x * 1px;
  }
}
.ft_b {
  font-weight: bold;
}
// margin padding
for x in -100 -80 -50 -44 -40 -30 -20 -10 -5 -3 -2 0 1 2 3 4 5 8 10 15 18 20 25 30 34 40 44 45 50 60 70 75 80 150 200 220 260 {
  .pd_{x} {
    padding: x * 1px;
  }
  .mg_{x} {
    margin: x * 1px;
  }
  .mt_{x} {
    margin-top: x * 1px;
  }
  .mb_{x} {
    margin-bottom: x * 1px;
  }
  .ml_{x} {
    margin-left: x * 1px;
  }
  .mr_{x} {
    margin-right: x * 1px;
  }
  .pt_{x} {
    padding-top: x * 1px;
  }
  .pb_{x} {
    padding-bottom: x * 1px;
  }
  .pl_{x} {
    padding-left: x * 1px;
  }
  .pr_{x} {
    padding-right: x * 1px;
  }
  .p_l_{x} {
    left: x * 1px;
  }
  .p_r_{x} {
    right: x * 1px;
  }
  .p_t_{x} {
    top: x * 1px;
  }
  .p_b_{x} {
    bottom: x * 1px;
  }
}
// height line-height
for x in 0 1 2 5 10 12 15 20 24 25 28 30 32 33 34 35 40 44 48 45 50 55 60 65 70 75 80 90 100 110 104 105 108 120 140 145 150 160 180 200 210 240 260 300 320 350 330 360 380 400 839 840 1000 {
  .h_{x} {
    height: x * 1px;
  }
  .lh_{x} {
    line-height: x * 1px;
  }
  .hlh_{x} {
    height: x * 1px;
    line-height: x * 1px;
  }
  .mh_{x} {
    max-height: x * 1px;
  }
  .w_{x} {
    width: x * 1px;
  }
  .minw_{x} {
    min-width: x * 1px;
  }
  .minh_{x} {
    min-height: x * 1px;
  }
  .ti_{x} {
    text-indent: x * 1px;
  }
  .h_{x}p {
    height: x * 1%;
  }
  .w_{x}p {
    width: x * 1%;
  }
}
// colors
colors = {
  '0': #000,
  '3': #333,
  '6': #666,
  '9': #999,
  '239': rgb(239, 239, 239),
  s: #F56C6C,
  f_c: #4F5467,
  l_s: #08c208,
  tc: #409EFF,
  b: blue,
  e: red,
  g: gray,
  p: #ff9500,
  br: #e9ecef,
  f: #fff !important,
  light_orange: rgb(255, 246, 209),
  orange: rgb(255, 84, 41),
  o: rgba(0, 0, 0, 0),
  pc: #efeff4,
  ccc: #ccc,
  f7: #f7f7f7,
  o5: rgba(0, 0, 0, 0.5),
  grass_green: rgb(114, 214, 12),
  red: red,
  u_b: #141619,
  i_c: #974BE0,
  b_b: #2255a4,
  b_g: #219864,
  h_c: #f5f5f5,
  t: transparent,
  e_4: #da542e,
  e_f: #a1aab2
};
for k, v in colors {
  .c_{k} {
    color: v;
  }
  .bgc_{k} {
    background-color: v;
  }
}
// width %
for x in 0 10 15 16 17 18 19 20 25 30 35 40 45 50 55 60 65 70 80 90 100 120 150 33 {
  .wp_{x} {
    width: x + '%';
  }
  .hp_{x} {
    height: x + '%';
  }
  .o_{x} {
    opacity: x * 0.01;
  }
  .hvh_{x} {
    height: x * 1vh;
  }
  .hvw_{x} {
    width: x * 1vw;
  }
  .mvh_{x} {
    max-height: x * 1vh;
  }
  .minvh_{x} {
    min-height: x * 1vh;
  }
  .mwp_{x} {
    max-width: x + '%';
  }
}
// radius
for x in 0 2 5 8 10 15 22 60 {
  .r_{x} {
    border-radius: x * 1px;
  }
}
.rp_50 {
  border-radius: 50%;
}
.b_n {
  border: none;
}
.b_x {
  box-sizing: border-box;
}
// rotateZ
for x in 90 -90 {
  .rz_{x} {
    transform: rotateZ(x * 1deg);
  }
}
// z-index
for x in 1 2 9 10 99 101 500 501 999 1001 5001 8998 8999 9000 9500 9501 9502 9503 9504 9999 9998 9997 99999 {
  .z_{x} {
    z-index: x;
  }
}
.mg_0a {
  margin: 0 auto;
}
.b_s {
  box-sizing: border-box;
}
.h_o {
  opacity: 0;
}
.o_h {
  overflow: hidden;
}
.o_y {
  overflow-y: auto;
}
.o_v {
  overflow: visible;
}
li {
  list-style-type: none;
}
.hide {
  display: none;
}
.f_r {
  float: right;
}
.f_l {
  float: left;
}
.t_c {
  text-align: center;
}
.t_l {
  text-align: left;
}
.t_r {
  text-align: right;
}
.inlb {
  display: inline-block;
}
.v_m {
  vertical-align: middle;
}
.v_t {
  vertical-align: top;
}
.p_r {
  position: relative;
}
.p_a {
  position: absolute;
}
.p_f {
  position: sticky;
}
.p_fix {
  position: fixed;
}
.j_c {
  justify-content: center;
}
.j_s {
  justify-content: start !important;
}
.a_i, .a_c {
  align-items: center;
}
.a_e {
  align-items: flex-end !important;
}
.a_s {
  align-items: flex-start !important;
}
.mh_0 {
  max-height: 0;
}
.c_r {
  cursor: pointer;
}
.w_b {
  word-break: break-all;
}
.t_o {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cli_a {
  &:active {
    opacity: 0.6;
  }
}
.no_border {
  .item-inner:after {
    display: none;
  }
}
.no_before:before {
  display: none;
}
.no_active_state {
  --f7-list-link-pressed-bg-color: rgba(255, 255, 255, 0);
}
.flex {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_x_s {
  align-self: flex-start;
}
.f_x_e {
  align-self: flex-end;
}
.flex-jc-s {
  justify-content: flex-start;
}
.flex-ai-c {
  align-items: center;
}
.f-d-c {
  flex-direction: column;
}
.f-i-e {
  align-self: end;
}
.ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.twinkle.c_e {
  animation: Fade 2s infinite;
}
flex(level_style = space-between, vertical_style = 'row', iswrap = 'no-wrap') {
  display: flex;
  align-items: center;
  justify-content: level_style;
  flex-wrap: iswrap;
  flex-direction: vertical_style;
}
absolute(l = 50%, t = 50%, b = auto, r = auto) {
  position: absolute;
  left: l;
  top: t;
  bottom: b;
  right: r;
  if (l == 50%) {
    transform: translate(-50%, -50%);
  }
}
