.user-form {
    >>>.el-input__inner {
        text-indent: 10px;
    }
    >>>.el-input__prefix {
        top: 1px;
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;
        top: 1px;
        color: #fff;
        font-size: 18px;
        .el-input__icon{
            padding: 0 5px;
        }
        .el-icon-user{
            background:#28b779;
        }
        .el-icon-edit{
            background-color: #ffb848;
        }
        .el-icon-message {
            background-color: #da542e;
        }
        .el-icon-paperclip{
            background-color:#27a9e3;
        }
    }
}
